*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/src/test/
/app/src/androidTest/
/app/src/main/java/com/worldbeers/beerista/BEERDTOO/
/app/src/test/java/com/worldbeers/beerista/
/app/src/androidTest/java/com/worldbeers/beerista/
/app/src/test/
/app/src/androidTest/
